.container{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width:500px;
    padding:20px ;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
}

.title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.inputContainer{
    margin-bottom: 20px;

}

.input{
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1 px solid #ccc;
    border-radius: 4px;
}
.button{
    padding: 8px 16px;
    font-size: 16px;
    background-color: #005f75;
    color:#ffff;
    border: none;
border-radius: 4px;
    cursor: pointer;
}

.weatherContainer{
    margin-bottom: 20px;
    text-align: center;
    background-color: #e3f2fd;
    padding: 10px;
    border-radius:8px;
}
.subtitle{
    font-size: 18px;
    margin-bottom: 5px;
}
.error{
    color:red;
    margin-bottom: 20px;
}